.st-emotion-cache-qcpnpn {
  border: 10px solid #C80036;
  background-color: #FF6969;
  border-radius: 25px;
  color: #fff5e1;
}

.st-emotion-cache-bm2z3a {
  color: #0C1844;
  background-color: #fff5e1;
}

.st-emotion-cache-h4xjwg {
  color: #0C1844;
  background-color: #fff5e1;
}

.st-emotion-cache-1qg05tj{
  font-size: 15px;
  color: #fff5e1;
}

.st-b7{
  background-color: #fff5e1;
}

.st-bc {
  color: #c80036;
}

.st-al, .st-ak, .st-aj, .st-ai{
  border-width: 3px;
  border-color: #C80036;
}

.st-bw {
  caret-color: #0C1844;
}

.st-emotion-cache-b0y9n5{
  background-color: #0C1844;
  color: #fff5e1;
}

.st-emotion-cache-b0y9n5:hover{
  text-decoration:underline;
  font-style: italic;
  border-width: 2px;
}

.st-emotion-cache-15ecox0{
  opacity: 0;
}